/* ==UserStyle==
@name           Mobile MOD [CM MOD]
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Modificaciones para usar el panel desde el movil
@author         rafitamolin
==/UserStyle== */

@-moz-document url-prefix("https://www.chollometro.com/admin-v2/") {
.hidden-sm-and-down {
    display: flex !important;
}
.v-toolbar__title.d-flex.ml-0.mr-4, .v-menu.v-menu--inline, .v-toolbar__side-icon, .v-btn.v-btn--flat.v-btn--icon.v-btn--router.theme--dark {
    display: none !important;
}
.v-toolbar__content,
.v-toolbar__extension {
    padding: 0px;
}
a[href="/admin-v2/moderation/archive"], a[href="/admin/users"], a[href="/admin-v2/moderation/archive/?objectTypes=comment,additional_info"], a[href="/admin-v2/moderation/archive/?objectTypes=deal,voucher"], a[href="/admin-v2/moderation/archive/?objectTypes=discussion"] {
    display: none !important;
}
.v-btn {
    margin: 6px 2px;
    text-transform: initial;
    padding: 0 9px;
}
}